@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #FFF !default;
$slick-dot-color: #FFF !default;
$slick-dot-color-active: #ED3338 !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 35px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

// .slick-list {
//     .slick-loading & {
//         background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
//     }
// }

/* Icons */
// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    border: 2px solid #FFF;
    z-index: 1000;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled {
        visibility: hidden;
    }
    &:before {
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        content: '';
        border-right: 2px solid;
        border-bottom: 2px solid;
        width: 10px;
        height: 10px;
        display: block;
    }
}

.slick-prev {
    left: 10%;
    &:before {
        transform: rotate(134deg);
        margin: 0 auto;
        position: relative;
        right: -2px;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 10%;
    &:before {
        transform: rotate(-45deg);
        margin: 0 auto;
        position: relative;
        left: -2px;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        margin: 0 3px;
        button {
            border: 0;
            background: transparent;
            display: block;
            background-color: #fff;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            outline: none;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            position: relative;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
                line-height: 20px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transition: all .5s;
            }
            &:hover, &:focus {
                outline: none;
                &:before {
                    background-image: linear-gradient(to bottom right, #F0C24A 0%, #DD8F24 100%);
                }
            }
        }
        &.slick-active button:before {
        background-image: linear-gradient(to bottom right, #F0C24A 0%, #DD8F24 100%);
        }
    }
}
