html {
	filter: initial;
	font-size: 62.5%;
}

body { 
	filter: initial;
	color: $clr-txt; 
	font-family: $font-base;
	font-size: 1.6em; 
	font-weight: 300;
	line-height: 1.6;
}

img { 
	max-width: 100%;
	display: block; 
}