/* ==========================================================================
   Forms
   ========================================================================== */

label {
	display: inline-block;
	font-size: 1.4rem;
	margin-bottom: .5rem;
}